.banner {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto var(--gap-lg);
  text-align: center;
}

.header {
  margin-bottom: var(--gap-sm);
}

.already {
  text-align: center;
  font-size: 1.4rem;
  margin-top: var(--gap-sm);
}

.color {
  color: var(--color-primary);
  font-weight: 500;
}
