.court,
.already {
  flex: 1;
  overflow: auto;

  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 2.4rem 2.4rem 0 0;

  margin-top: calc(-1 * var(--gap-md));
  padding: var(--gap-md);
}

.already {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: var(--gap-lg);
}

.where {
  font-size: 1.8rem;
  font-weight: 500;
}

.schedule {
  padding-bottom: var(--gap-md);
}

.schedule > *:not(:last-child) {
  margin-bottom: var(--gap-md);
}

.content {
  padding: var(--small-gap);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content > *:not(:last-child) {
  margin-bottom: var(--gap-md);
}

.content h3 {
  text-align: center;
}

.content > span {
  display: block;
  font-size: 1.4rem;
  opacity: 0.875;
  line-height: 1.15;
  text-align: center;
}

.red {
  color: var(--color-red);
}
