.banner {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto var(--gap-xl);
  text-align: center;
}

.header {
  margin-bottom: var(--gap-sm);
}

.already {
  font-weight: 500;
  text-align: center;
}
