.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1030;
  background-color: rgba(38, 35, 34, 0.875);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--gap-md);
}
