.form {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

.terms {
  margin-top: var(--gap-sm);

  text-align: center;
  font-size: 1.4rem;
}
.error__server {
  display: block;
  width: 100%;
  max-width: 100%;

  padding: var(--gap-md);
  margin-bottom: var(--gap-md);

  background-color: var(--color-white);
  outline: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-red);

  color: var(--color-red);
}
